.error-page
    text-align: center
    padding: 100px 20px

h1
    font-size: 100px
    color: #ff6060
    margin-bottom: 20px

h2
    font-size: 24px
    color: #ff6060
    margin-bottom: 30px

.error-link
    font-size: 18px
    color: #ff6060
    text-decoration: underline
    cursor: pointer
