
*
    font-family: 'Montserrat', sans-serif

.header
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 30px
    padding-bottom: 20px
    background-color: white

.logo
    display: block

.header-right
    display: flex
    gap: 60px

.nav-link
    text-decoration: none
    color: #000
    font-weight: 500

.nav-link:hover
    border-bottom: 2px solid #000

@media (max-width: 768px)
    img
        max-width: 145px
        max-height: 47px
        padding-right: 20px
    .header-right
        gap: 30px
    .header
