.gallery-wrapper
    width: 100%
    background-color: #F6F6F6
    border-radius: 1rem
    padding: 2rem
    display: flex
    justify-content: center
    margin-bottom: 2rem

.gallery
    display: grid
    grid-template-columns: repeat(3,1fr)
    gap: clamp(1rem, 2vw, 2.5rem)
    justify-items: center

@media (max-width: 1060px) and (min-width: 769px)
    .gallery
        display: grid
        grid-template-columns: repeat(2,1fr)
    .gallery-wrapper
        width: 100%

@media (max-width: 768px)
    .gallery
        display: grid
        grid-template-columns: repeat(1,1fr)
        align-items: center
        gap: 20px
        width: 100%
        align-items: stretch
        box-sizing: border-box
    .gallery-wrapper
        padding: 0
        margin: 20px 0
        width: 100%
        background-color: white
